body {background:#8bd8fc;}
center h2 {color:#000000; font-family:Papyrus;}
table{border-radius: 2mm; background-color:#000000; color:#ffffff;}
table tr{background-color:#384051;}
a input.a {background-color:#d4dffd;}
a input.b {background-color:#e7d5ff;}
a input.c {background-color:#d2fffd;}
a input.d {background-color:#fff9d2;}
a input.e {background-color:#36d759;}
a input.f {background-color:#d78f36;}
frame.bg {background-color: rgb(255, 134, 158);}